* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.navbar {
  min-height: 10vh;
  background-color: rgb(red, green, blue);
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  align-items: center;
}
a {
  text-decoration: none;
  color: bisque;
}
.active {
  color: gold;
}
footer {
  bottom: 0;
  position: absolute;
  width: 100vw;
  height: 50px;
  background-color: rgb(red, green, blue);
}
